// margins
$margin-tiny: 4px;
$margin-small: 8px;
$margin-base: 12px;
$margin-medium: 16px;
$margin-big: 24px;
$margin-large: 32px;
$margin-huge: 40px;

// paddings
$padding-tiny: 4px;
$padding-small: 8px;
$padding-base: 12px;
$padding-medium: 16px;
$padding-big: 24px;
$padding-large: 32px;
$padding-huge: 40px;

// icon-sizes
$icon-tiny: 10px;
$icon-small: 14px;
$icon-medium: 16px;
$icon-base: 18px;
$icon-big: 24px;
$icon-large: 32px;

// font-sizes
$font-size-header-title: 24px;
$font-size-title: 20px;
$font-size-huge: 18px;
$font-size-large: 16px;
$font-size-big: 15px;
$font-size-base: 14px;
$font-size-small: 13px;
$font-size-tiny: 12px;

// font-weight
$font-weight-base: 400;
$font-weight-medium: 500;
$font-weight-bold: 600;
