$palette-primary: (
  50 : #e0f2f2,
  100 : #b3e0dd,
  200 : #80cbc7,
  300 : #4db6b1,
  400 : #26a6a0,
  500 : #00968f,
  600 : #008e87,
  700 : #00837c,
  800 : #007972,
  900 : #006860,
  A100 : #97fff6,
  A200 : #64fff1,
  A400 : #31ffec,
  A700 : #18ffea,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$palette-accept: (
  50 : #eaf5ea,
  100 : #c9e7cb,
  200 : #a6d7a8,
  300 : #82c785,
  400 : #67bb6a,
  500 : #4caf50,
  600 : #45a849,
  700 : #3c9f40,
  800 : #339637,
  900 : #248627,
  A100 : #c5ffc7,
  A200 : #92ff95,
  A400 : #5fff64,
  A700 : #46ff4b,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);




