<div fxLayout="column">


  <div fxLayout>
    <div fxFlex="50%" class="layout-block">
      <app-user-form
        [users$]="users$"
        [selectUser]="selectUser"
        (eventAddUser)="addUser($event)"
        (eventEditUser)="editSelectedUser($event)"
        (eventSaveUser)="saveUser()"
        (eventDeleteUser)="deleteUser($event)"
        (eventDeleteUsers)="deleteAllUsers()"
        (eventGetUser)="getUser($event)"
      ></app-user-form>
    </div>
  </div>

  <mat-card class="card">
    <ng-template [ngTemplateOutlet]="userTemplate"
                 [ngTemplateOutletContext]="{userList: users$}"
    ></ng-template>
  </mat-card>

  <ng-template let-users="userList" #userTemplate>
    <mat-grid-list cols="30" rowHeight="40px">

      <mat-grid-tile colspan="2">
        <div fxFlex fxLayoutAlign="start center">Option</div>
      </mat-grid-tile>
      <mat-grid-tile colspan="14">
        <div fxFlex fxLayoutAlign="start center">Id</div>
      </mat-grid-tile>
      <mat-grid-tile colspan="14">
        <div fxFlex fxLayoutAlign="start center">Name</div>
      </mat-grid-tile>

      <ng-container *ngFor="let user of users | async">
        <mat-grid-tile colspan="2">
          <div fxFlex fxLayoutAlign="start center">
            <button mat-icon-button color="primary" aria-label="user-edit" (click)="editUser(user)">
              <mat-icon class="icon">mode_edit</mat-icon>
            </button>
          </div>
        </mat-grid-tile>
        <mat-grid-tile colspan="14">
          <div fxFlex fxLayoutAlign="start center">{{user.id}}</div>
        </mat-grid-tile>
        <mat-grid-tile colspan="14">
          <div fxFlex fxLayoutAlign="start center">{{user.name}}</div>
        </mat-grid-tile>
      </ng-container>

    </mat-grid-list>
  </ng-template>


</div>
