@import 'src/app/styles/const';

.wrap-users {
  background-color: #f3f3f3;
}

.layout-block {
  margin-bottom: $margin-base;
}

.icon {
  background-color: #cacaca;
  border-radius: 4px;
  color: #ffffff;
}
