<div fxLayout="column">


  <div fxLayout>
    <div fxFlex="50%">
      <mat-card class="card">
        <div class="section-card" fxLayout fxLayoutAlign="start center" fxLayoutGap="16px">
          <div>name: <input [(ngModel)]="selectedUser.name" type="text"/></div>
          <div>id: {{selectedUser.id}}</div>
        </div>
        <div class="section-card" fxLayout fxLayoutAlign="start center" fxLayoutGap="8px">
          <button mat-raised-button color="primary" (click)="saveUser()">Сохранить (put)</button>
          <button mat-raised-button color="primary" (click)="addUser()">Добавить (post)</button>
          <button mat-raised-button color="primary" (click)="deleteUser(selectedUser.id)">Удалить (post delete)</button>
        </div>
        <div class="section-card" fxLayout fxLayoutAlign="start center" fxLayoutGap="8px">
          <button mat-raised-button color="primary" (click)="getUsers()">Загрузить (get)</button>
          <button mat-raised-button color="primary" (click)="getUser(selectedUser.id)">Загрузить по id (get)</button>
        </div>
      </mat-card>
    </div>
  </div>


  <mat-card class="card">
    <ng-template [ngTemplateOutlet]="userTemplate"
                 [ngTemplateOutletContext]="{userList: users$}"
    ></ng-template>
  </mat-card>

  <ng-template let-users="userList" #userTemplate>
    <mat-grid-list cols="30" rowHeight="40px">

      <mat-grid-tile colspan="2">
        <div fxFlex fxLayoutAlign="start center">Option</div>
      </mat-grid-tile>
      <mat-grid-tile colspan="14">
        <div fxFlex fxLayoutAlign="start center">Id</div>
      </mat-grid-tile>
      <mat-grid-tile colspan="14">
        <div fxFlex fxLayoutAlign="start center">Name</div>
      </mat-grid-tile>

      <ng-container *ngFor="let user of users | async">
        <mat-grid-tile colspan="2">
          <div fxFlex fxLayoutAlign="start center">
            <button mat-icon-button color="primary" aria-label="user-edit" (click)="editUser(user)">
              <mat-icon class="icon">mode_edit</mat-icon>
            </button>
          </div>
        </mat-grid-tile>
        <mat-grid-tile colspan="14">
          <div fxFlex fxLayoutAlign="start center">{{user.id}}</div>
        </mat-grid-tile>
        <mat-grid-tile colspan="14">
          <div fxFlex fxLayoutAlign="start center">{{user.name}}</div>
        </mat-grid-tile>
      </ng-container>

    </mat-grid-list>
  </ng-template>


</div>
